<div class="tinder text-center">
  <div class="tinder--status">
    <i class="fa-solid fa-xmark"></i>
    <i class="fa-solid fa-paw"></i>
  </div>
  <% if @dogs.empty? %>
    <%= image_tag "dogs.png", class: 'dog-img mb-5 mt-5' %>
    <p>Oops, no new dogs at the moment.</p>
    <p>Check in again later!</p>
  <% else %>
    <div class="tinder--cards">
      <% @dogs.each do |dog| %>
        <div class="tinder--card" data-swiped-dog="<%= dog.id %>">
          <%= cl_image_tag(dog.photo.key) %>
          <%= cl_image_tag(dog.photo.key) %>
          <i class="fa fa-circle-info"></i>
          <h3 class="bottom-left"><%= dog.name %>, <%= dog.age %></h3>
          <i class="fa fa-circle-info"><a href="#popup1" class="popup-button"></a></i>
          <div class="content">
            <p><%= dog.short_description %></p>
          </div>
        </div>
      <% end %>
    </div>
    <div class="tinder--buttons">
      <button id="nope"><i class="fa-solid fa-xmark"></i></button>
      <button id="love"><i class="fa-solid fa-paw"></i></button>
      <div id="popup1" class="overlay">
        <div class="popup">
          <h2>Details</h2>
          <a class="close" href="#">&times;</a>
        </div>
      </div>
    </div>
  <% end %>
</div>
