<div class="container m-3 mx-auto">
  <div class="row">
    <div class= "col">
      <div class="row">
        <div class="col">
          <div class="card-trip mt-4 p-3" style="width: 18rem;">

            <% if current_user.dog.photo.present? %>
              <%= cl_image_tag(current_user.dog.photo.key, width: 400, height: 300, crop: :fit) %>
            <% end %>
            <% if @dog.present? ==false   %>
              <p>there's no dogs!</p>
            <% else %>
              <div class="card-trip-infos">
                <div>
                  <h2><%= @dog.name %> , <%= @dog.age %></h2>
                  <p><%= @dog.short_description %></p>
                </div>
              </div>
              <%= link_to 'More info', dog_path(@dog), class: "btn btn-warning mt-1"  %>
              <% if current_user.dog.present? %>
                <%= link_to 'No!', swipes_path(swiped_dog_id: @dog.id, liked: false), class: "btn btn-warning mt-1", data: {turbo_method:'post' }  %>
                <%= link_to 'Yes', swipes_path(swiped_dog_id: @dog.id, liked: true), class: "btn btn-warning mt-1", data: {turbo_method:'post' }  %>
             <% else %>
              <%= link_to 'Create Dog profile', new_dog_path, class: "btn btn-warning mt-1" %>
                  <%= link_to 'See Another Dog!', dogs_path, class: "btn btn-warning mt-1" %>
              <% end %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
  <%# row %>
</div>
<%#  container %>
