<div class="tinder">
  <%= render 'shared/navbar' %>
  <div class="tinder--status">
  </div>
  <% if @dogs.empty? %>
    <p>there's no dogs!</p>
  <% else %>
    <div class="tinder--cards">
      <% @dogs.each do |dog| %>
        <div class="tinder--card" data-swiped-dog="<%= dog.id %>">
      <%= cl_image_tag(dog.photo.key) %>
          <i class="fa fa-circle-info"></i>

          <h3 class="bottom-left"><%= dog.name %>, <%= dog.age %></h3>
          <p><%= dog.short_description %></p>
        </div>
      <% end %>
    </div>
    <div class="tinder--buttons">
      <button id="nope"><i class="fa-solid fa-xmark"></i></button>
      <button id="love"><i class="fa-solid fa-paw"></i></button>
    </div>
  <% end %>
</div>
