<div class="tinder text-center">
  <div class="tinder--status">
    <i class="fa-solid fa-xmark"></i>
    <i class="fa-solid fa-paw"></i>
  </div>
  <% if @dogs.empty? %>
    <%= image_tag "dogs.png", class: 'dog-img mb-5 mt-5' %>
    <p>Oops, no new dogs at the moment.</p>
    <p>Check in again later!</p>
  <% else %>
    <div class="tinder--cards">
      <% @dogs.each do |dog| %>
        <div class="tinder--card" data-swiped-dog="<%= dog.id %>">
          <%= cl_image_tag(dog.photo.key) %>
          <%= cl_image_tag(dog.photo.key) %>
          <h3 class="bottom-left"><%= dog.name %>, <%= dog.age %></h3>
          <div data-controller="popup">
            <i class="fa fa-circle-info" data-popup-target="icon"></i>
            <div data-popup-target="description">
              <p><%= dog.short_description %></p>
            </div>

          </div>
        </div>
      <% end %>
    </div>
    <div class="tinder--buttons">
      <button id="nope"><i class="fa-solid fa-xmark"></i></button>
      <button id="love"><i class="fa-solid fa-paw"></i></button>
    </div>
  <% end %>
</div>
