
<div class="container text-center">
<%= render 'shared/navbar' %>
  <h1 class="text-center "><%= @dog.name %></h1>
    <div class="box">
      <div class="card-show">
        <% if @dog.photo.present? %>
          <%= cl_image_tag @dog.photo.key, class: "image" %>
        <% end %>
        <div class="card-trip-infos">
          <div>
            <p>Age: <%= @dog.age %></p>
            <p>Gender: <%= @dog.gender %></p>
            <p>Personality: <%= @dog.personality %></p>
            <p>Sexual orientation: <%= @dog.sex_orientation %></p>
            <p>Breed: <%= @dog.breed %></p>
            <p>Breed certificate: <%= @dog.has_breed_certificate %></p>
            <p>Hobbies: <%= @dog.hobbies %></p>
            <p>Address: <%= @dog.address %></p>
            <p>Owner: <%= @dog.user.email %></p>
          </div>
        </div>
      </div>
      <div class="map text-center" style="width: 100%; height: 400px; width: 350px, position: center"
          data-controller="mapbox"
          data-mapbox-markers-value="<%= @markers.to_json %>"
          data-mapbox-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
      </div>
        <%= link_to dogs_path,  class: 'btn btn-primary m-2' do %>
        <i class="fa fa-history"></i> Browse again
        <% end %>
    </div>
</div>
