<div class="card mt-3 mb-3">
  <% if @dog.photo.present? %>
    <%= cl_image_tag @dog.photo.key %>
  <% end %>
  <div class="container">
    <h2><strong><%= @dog.name %></strong></h2>
    <h3 id="description-font"><%= @dog.short_description %></h3>
    <p><strong>Age:</strong> <%= @dog.age %></p>
    <p><strong>Gender:</strong> <%= @dog.gender %></p>
    <p><strong>Personality:</strong> <%= @dog.personality %></p>
    <p><strong>Sexual orientation:</strong> <%= @dog.sex_orientation %></p>
    <p><strong>Breed:</strong> <%= @dog.breed %></p>
    <p><strong>Breed certificate:</strong> <%= @dog.has_breed_certificate %></p>
    <p><strong>Hobbies:</strong> <%= @dog.hobbies %></p>
    <p><strong>Address:</strong> <%= @dog.address %></p>
    <p><strong>Owner:</strong> <%= @dog.user.email %></p>
  </div>
</div>

<div class="map text-center" style="width: 100%; height: 400px; width: 350px, position: center"
  data-controller="mapbox"
  data-mapbox-markers-value="<%= @markers.to_json %>"
  data-mapbox-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
</div>

<%= link_to dogs_path,  class: 'btn btn-primary' do %>
  Browse again
<% end %>
