<% if @swipes.present? %>
    <h1 class="text-center mt-3">These are all your matches!</h1>

    <% @dogs.each do |dog| %>
    <div class="container text-center">
      <div class="card-product text-start mt-3">
        <%= cl_image_tag(dog.photo.key) %>
        <div class="card-product-infos ">
          <h2>  <%= dog.name %>, <%= dog.age %></h2>
          <p class="text-left mb-2">Contact <a href = "mailto: kerrypang15@gmail.com"><%= dog.user.email %></a></p>
          <%= link_to "Details", dog_path(dog.id), class: "btn  btn-sm btn-gray mb-2 mt-5 text-center" %>
        </div>
      </div>
    </div>
  <% end %>
<% else %>
<div class="contaier text-center">
  <%= image_tag "sad_dog.gif", class: 'dog-img mb-5 mt-5' %>
  <h1>Oops, no matches yet, keep browsing!</h1>
  </div>
<% end %>
<%= link_to 'Find More Playdates', dogs_path, class: "btn btn-primary mt-4 text-center" %>
