
<%# <div class="cover mb-4 d-flex align-items-center justify-content-center mt-4">
  <h1 class="text-center"> <strong>PAWSHIP</strong></h1>
  <h3 class="typed-js" data-controller="typed-js"></h3>
</div>

<div class="banner img-fluid" style="background-image: linear-gradient(rgba(0,0,0,0.1),rgba(0,0,0,0.1)), url(<%= image_path("banner_img.jpg") %>
  <%# <div class="container">
    <h1>This is where your doggie finds friendship and love</h1>
    <p>Looking for doggo playdates in Zurich?</p>
    <p>Look no further, Find the perfect playdate here! Lots of cute tails are wagging.</p>
  </div>
</div> %>

<%# <div class="container">
  <% if user_signed_in? == false %>
    <%# <%= link_to "Sign up", new_user_registration_path, class: 'btn btn-warning mt-3' %>
    <%# <%= link_to "Browse", dogs_path, class: 'btn btn-warning mt-3' %>
  <%# <%else%>
    <%# <%= link_to "Browse", dogs_path, class: 'btn btn-warning mt-3' %>
  <%# <% end %>
<%# </div> %>
<div class="row justify-content-center">

    <div class="bg col-12 col-lg-6">
      <div class="container">
      <div class="mb-4 align-items-center justify-content-center">


    <div class="container">
  <div class="row">
    <div class="col d-flex justify-content-center img-fluid">
      <%= image_tag "logo.png"  %>
    </div>
  </div>
</div>
      <h3 class="font-weight-bold text-center mb-5" style="text-shadow: 1px 1px 3px rgba(0,0,0,0.2);">This is where your doggie finds friendship and love</h3>
      <p class="font-weight-bold text-center" style="text-shadow: 1px 1px 3px rgba(0,0,0,0.2);">Looking for doggo playdates in Zurich?</p>
      <p class="font-weight-bold text-center" style="text-shadow: 1px 1px 3px rgba(0,0,0,0.2);">Look no further, Find the perfect playdate here! Lots of cute tails are wagging.</p>
      </div>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>

      <div class="container">
        <div class="col-md-12 text-center">
           <% if user_signed_in? == false %>
             <%= link_to "Sign up", new_user_registration_path, class: 'btn btn-primary mt-3 mb-3' %>
             <%= link_to "Browse", dogs_path, class: 'btn btn-primary mt-3 mb-3' %>
           <%else%>
             <%= link_to "Browse", dogs_path, class: 'btn btn-warning mt-3 mb-3' %>
           <% end %>
        </div>
    </div>

    </div>
  </div>
</div>
</div>
